@use './global/' as *;

/*=========================================================
　　　　　Default Settings
=======================================================*/
* {
    margin: 0;
    padding: 0;
}

a {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

img {
    border-style: none;
}

label,
input {
    color: white;
    outline: none;
    border: none;
    background: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 62.5%;
}

body {
    background: #000;
    font-family: $font_en;
    color: #d1c0a5;
    font-size: 14px;
    line-height: 16px;

    &:lang(ja) {
        font-family: $font_ja;
    }
}

h1 {
    font-family: $font_title_en;

    &:lang(ja) {
        font-family: $font_title_ja;
    }
}

// overlay for moving the launcher window
.overlay {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;

    .overlay_text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font_title_en;
        color: white;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        transform: translate(-50%, -50%);
    }
}

// launcher wrapper
.wrapper {
    width: 1124px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/launcher/img/common/background.jpg) center center no-repeat;
}

/*=========================================================
　　　　　Window Controls
=======================================================*/
.win_ctrls {
    width: 170px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    justify-content: space-between;

    // init win_ctrls
    button {
        width: 50px;
        height: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border: none;
        font-size: 1.5em;
        transition: all 0.2s;

        // grab icon
        &.move {
            @include move_icon;
            z-index: 999;
            cursor: move;

            // when hovering
            &:hover {
                @include move_icon(white, black);
            }
        }

        // when hovering each button
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: black;
        }
    }
}

/*=========================================================
　　　　　Launcher Header
=======================================================*/
// header main
.launcher_header {
    width: 525px;
    height: 72px;
    position: absolute;
    left: 0;
    top: 38px;
    border-radius: 0 15px 15px 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: default;

    // mhfzz logo
    .mhf_zz_logo {
        position: absolute;
        width: 360px;
        top: -50%;
        left: -2%;
    }

    // launcher title
    .launcher_title {
        position: absolute;
        top: 2%;
        right: 0%;
        width: 190px;
        color: #dcdcdc;
        font-weight: 700;
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.3;
        white-space: nowrap;
    }
}

/*=========================================================
　　　　　User ID / Server Name Label + Log Out Button
=======================================================*/
.logout_container {
    position: absolute;
    top: 19%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 525px;
    color: white;
    font-size: 0.8rem;
    z-index: 1000;

    // user_id & server_name
    .id_srv_label {
        font-size: 1.3rem;
        padding-right: 1%;
    }

    // logout button
    .btn_logout {
        color: white;
        background: rgba(255, 255, 255, 0.1);
        padding: 1px;
        font-weight: 700;
        transition: all 0.3s;
        cursor: pointer;

        // when hovering
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: black;
        }
    }
}

/*=========================================================
　　　　　Log In Area
=======================================================*/
#launcher_login_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 40%;
    height: 67%;
    left: 5%;
    top: 25%;

    // login button
    .btn_login {
        width: 300px;
        height: 64px;
        cursor: pointer;

        // when hovering
        &:hover {
            background-position: 0px -64px;
        }

        // ???
        &.disabled {
            &:hover {
                background-position: 0px 0px;
                cursor: default;
            }
        }
    }

    // check box for remember me
    .check_save_id {
        width: 125px;
        height: 12px;
        cursor: pointer;

        // when hovering
        &:hover {
            background-position: 0px -12px;
        }
    }

    // forget password
    .btn_forgot {
        width: 151px;
        height: 13px;
        cursor: pointer;

        // when hovering
        &:hover {
            background-position: 0px -13px;
        }
    }

    // authentication section
    .auth_section {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        // each group of user_id and password
        .auth_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            user-select: none;

            // label area
            label {
                padding-bottom: 2%;
            }

            // input area
            input {
                width: 150px;
                height: 40px;
                background: #00000099;
                padding-left: 5%;
                font-size: 1.4rem;

                // input placeholder
                &:-ms-input-placeholder {
                    color: #7f8095;
                }

                // disable clear button on IE
                &::-ms-clear {
                    display: none;
                }
            }

            // icon and input group (without label)
            .auth_userid,
            .auth_password {
                width: 220px;
                display: flex;
                justify-content: center;

                span {
                    width: 40px;
                    height: 40px;
                    border-right: gray 1px solid;

                    // user_id
                    &.user_icon {
                        @include user_icon;
                    }

                    // password
                    &.password_icon {
                        @include password_icon;
                    }
                }
            }
        }
    }

    /* Server Group Section
====================================================*/
    .server_selector_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0;

        // label area
        label {
            padding-bottom: 2%;
        }

        // server selection
        .srv_sel_btn {
            position: relative;
            background: rgba(0, 0, 0, 0.8);
            font-size: 1.5rem;
            font-weight: 700;
            white-space: nowrap;
            padding: 0 11% 0 16%;
            width: 250px;
            height: 40px;
            color: #fff;
            cursor: pointer;
            border: 1px white solid;
            transition: border 0.3s ease-in-out;

            // server icon
            &::before {
                content: '';
                position: absolute;
                width: 38px;
                height: 38px;
                top: -4%;
                left: -1px;
                @include server_icon;
                transition: border 0.3s ease-in-out;
            }

            // arrow icon on closing server list box
            &::after {
                content: '';
                position: absolute;
                margin: auto 0;
                top: 0;
                bottom: 0;
                right: 4%;
                width: 15px;
                height: 15px;
                @include down_arrow_icon;
                transition: all 0.3s;
            }

            // arrow icon on opening server list box
            &.opened_svr_list {
                &::after {
                    transform: rotate(-180deg);
                }
            }

            // border color when hovering
            &:hover {
                border: 1px rgb(255, 123, 47) solid;

                &::before {
                    border: 1px rgb(255, 123, 47) solid;
                }
            }
        }

        // sever list box
        .srv_sel_box {
            position: absolute;
            top: 35.5%;
            left: 30.9%;
            width: 46.5%;
            max-height: 115px;
            border: 1px white solid;
            border-top: none;
            color: white;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.8);
            z-index: 100;

            // each sever item
            .srv {
                display: block;
                height: 20px;
                padding: 7% 0;
                white-space: nowrap;
                font-size: 1.4rem;
                cursor: pointer;
                text-align: center;
                line-height: 20px;
                transition: all 0.3s;

                // selected server name color
                &.selected_srv {
                    color: orange;
                }

                // server name color when hovering
                &:hover {
                    color: orange;
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    /* Log In Alternative Area
====================================================*/
    .auth_alternative {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* Message Logs Section
====================================================*/
    .msg_logs_area {
        width: 410px;
        height: 86px;
        padding: 6px 8px;
        border: #a5927b79 0.5px solid;
        background: rgba(0, 0, 0, 0.5);

        // message contents
        .msg_contents {
            display: block;
            width: 410px;
            height: 86px;
            font-size: 12px;
            line-height: 14px;
            color: white;
            overflow: hidden;
            overflow-y: auto;
            position: absolute;

            // text initial setting
            p {
                width: 400px;
            }

            // green color
            span.green {
                color: greenyellow;
            }

            // red color
            span.red {
                color: red;
            }

            // yellow color
            span.yellow {
                color: yellow;
            }

            // blue color
            span.blue {
                color: skyblue;
            }
        }
    }

    /* Preferences Button
====================================================*/
    .btn_preferences {
        width: 60%;
        height: 8.5%;
        position: relative;
        border: gray solid 2px;
        border-radius: 20px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.2s;
        z-index: 1;

        // gear icon
        &::before {
            content: '';
            position: absolute;
            width: 2.4em;
            height: 2.4em;
            top: 0;
            left: 7%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-settings' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='%23d1c0a5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z'%3E%3C/path%3E%3Cpath d='M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: all 0.2s;
            transform: rotateZ(540deg);
        }

        // arrow icon
        &::after {
            content: '';
            position: absolute;
            bottom: 32%;
            right: 13%;
            width: 6px;
            height: 6px;
            border-top: 3px solid #d1c0a5;
            border-right: 3px solid #d1c0a5;
            transition: all 0.2s;
            transform: rotate(45deg);
            z-index: -1;
        }

        // content text
        .btn_preferences_text {
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -9%;
            align-items: center;
            justify-content: center;
            width: 315px;
            color: #d1c0a5;
            font-size: 1.3em;
            white-space: nowrap;
            cursor: pointer;
            transform: scale(0.85, 1);
        }

        // when hovering
        &:hover {
            // gear icon
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-settings' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23484343' fill='%23fae7c9' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z'%3E%3C/path%3E%3Cpath d='M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0'%3E%3C/path%3E%3C/svg%3E");
                transform: scale(1.1, 1.1);
            }

            // arrow icon
            &::after {
                right: 9%;
            }

            // content text
            color: #fae7c9;
            background: rgba(72, 67, 67, 0.8);
        }
    }
}
