@use './global/' as *;

/*=========================================================
　　　　　Default Settings
=======================================================*/
* {
    margin: 0;
    padding: 0;
}

a {
    border: none;
    outline: none;
}

li {
    list-style-type: none;
}

ul {
    list-style: none;
}

img {
    border-style: none;
}

label,
input {
    color: white;
    outline: none;
    border: none;
    background: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 62.5%;
}

body {
    background: #000;
    font-family: $font_en;
    color: #d1c0a5;
    font-size: 14px;
    line-height: 1.3;

    &:lang(ja) {
        font-family: $font_ja;
    }
}

h1 {
    font-family: $font_title_en;

    &:lang(ja) {
        font-family: $font_title_ja;
    }
}

/* Launcher Overlay
====================================================*/
.overlay {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1001;

    .overlay_text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font_title_en;
        color: white;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        transform: translate(-50%, -50%);
    }
}

/* Launcher Wrapper
====================================================*/
.wrapper {
    width: 1124px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    @include launcher_bg;
}

/* Scrollbar
====================================================*/
// scroll area
.mCSB_scrollTools {
    margin: 6px 0;
}

// scroll contents area
.mCSB_container {
    margin-right: 15px !important;
}

// scroll rail area
.mCSB_draggerRail {
    width: 4px !important;
    background-color: #4a4a4adb !important;
}

/* Slick
====================================================*/
.slick-dots {
    width: 28% !important;
    height: 80%;
    top: 10%;
    right: -10%;
    bottom: 0 !important;
    transform: rotate(90deg);

    li {
        margin: 0 3px !important;

        // normal dots
        button::before {
            font-size: 1.2rem !important;
            color: gray !important;
            opacity: 0.5 !important;
        }

        // active dots
        &.slick-active button::before {
            opacity: 1 !important;
            color: black !important;
        }
    }
}

/*=========================================================
　　　　　Window Controls
=======================================================*/
.win_ctrls {
    width: 170px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    justify-content: space-between;

    // init win_ctrls
    button {
        width: 50px;
        height: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border: none;
        font-size: 1.5em;
        transition: all 0.2s;

        // grab icon
        &.move {
            @include move_icon;
            z-index: 1002;
            cursor: move;

            // when hovering
            &:hover {
                @include move_icon(white, black);
            }
        }

        // when hovering each button
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: black;
        }
    }
}

/*=========================================================
　　　　　Launcher Header
=======================================================*/
// header main
.launcher_header {
    width: 525px;
    height: 72px;
    position: absolute;
    left: 0;
    top: 38px;
    border-radius: 0 15px 15px 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: default;

    // mhfzz logo
    .mhf_zz_logo {
        position: absolute;
        width: 360px;
        top: -50%;
        left: -2%;
    }

    // launcher title
    .launcher_title {
        position: absolute;
        top: 2%;
        right: 0%;
        width: 190px;
        color: #dcdcdc;
        font-weight: 700;
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.3;
        white-space: nowrap;
    }
}

/*=========================================================
　　　　　User ID / Server Name Label + Log Out Button
=======================================================*/
.logout_container {
    position: absolute;
    top: 19%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 525px;
    color: white;
    font-size: 0.8rem;
    z-index: 1000;

    // user_id & server_name
    .id_srv_label {
        font-size: 1.3rem;
        padding-right: 1%;
    }

    // logout button
    .btn_logout {
        color: white;
        background: rgba(255, 255, 255, 0.1);
        padding: 1px;
        font-weight: 700;
        transition: all 0.3s;
        cursor: pointer;

        // when hovering
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: black;
        }
    }
}

/*=========================================================
　　　　　Log In Area
=======================================================*/
#launcher_login_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 40%;
    height: 69%;
    left: 5%;
    top: 23%;

    // login button
    .btn_login {
        position: relative;
        width: 290px;
        height: 57px;
        @include main_btn_bg;
        cursor: pointer;
        border: none;
        outline: none;

        // login text
        &::before {
            content: 'LOG IN';
            color: rgb(230, 230, 230);
            font-size: 3rem;
            font-family: $font_title_en;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            line-height: 57px;
            text-align: center;
            transform: translate(-50%, -50%);
            transition: all 0.2s;
        }

        // when hovering
        &:hover {
            background-position: 0px -73.8px;

            &::before {
                color: white;
            }
        }

        // ???
        &.disabled {
            &:hover {
                background-position: 0px 0px;
                cursor: default;
            }
        }
    }

    // check box for remember me
    .check_save_id {
        width: 125px;
        height: 12px;
        cursor: pointer;

        // when hovering
        &:hover {
            background-position: 0px -12px;
        }
    }

    // forget password
    .btn_forgot {
        width: 151px;
        height: 13px;
        cursor: pointer;

        // when hovering
        &:hover {
            background-position: 0px -13px;
        }
    }

    // authentication section
    .auth_section {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        // each group of user_id and password
        .auth_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            user-select: none;

            // label area
            label {
                padding-bottom: 2%;
            }

            // input area
            input {
                width: 150px;
                height: 40px;
                background: #00000099;
                padding-left: 5%;
                font-size: 1.4rem;

                // input placeholder
                &:-ms-input-placeholder {
                    color: #7f8095;
                }

                // disable clear button on IE
                &::-ms-clear {
                    display: none;
                }
            }

            // icon and input group (without label)
            .auth_userid,
            .auth_password {
                width: 220px;
                display: flex;
                justify-content: center;

                span {
                    width: 40px;
                    height: 40px;
                    border-right: gray 1px solid;

                    // user_id
                    &.user_icon {
                        @include user_icon;
                    }

                    // password
                    &.password_icon {
                        @include password_icon;
                    }
                }
            }
        }
    }

    /* Server Group
====================================================*/
    .server_selector_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0;

        // label area
        label {
            padding-bottom: 2%;
        }

        // server selection
        .srv_sel_btn {
            position: relative;
            background: rgba(0, 0, 0, 0.8);
            font-size: 1.5rem;
            font-weight: 700;
            white-space: nowrap;
            padding: 0 11% 0 16%;
            width: 250px;
            height: 40px;
            color: #fff;
            cursor: pointer;
            border: 1px white solid;
            transition: border 0.3s ease-in-out;

            // server icon
            &::before {
                content: '';
                position: absolute;
                width: 38px;
                height: 38px;
                top: -4%;
                left: -1px;
                @include server_icon;
                transition: border 0.3s ease-in-out;
            }

            // arrow icon on closing server list box
            &::after {
                content: '';
                position: absolute;
                margin: auto 0;
                top: 0;
                bottom: 0;
                right: 4%;
                width: 15px;
                height: 15px;
                @include down_arrow_icon;
                transition: all 0.3s;
            }

            // arrow icon on opening server list box
            &.opened_svr_list {
                &::after {
                    transform: rotate(-180deg);
                }
            }

            // border color when hovering
            &:hover {
                border: 1px rgb(255, 123, 47) solid;

                &::before {
                    border: 1px rgb(255, 123, 47) solid;
                }
            }
        }

        // sever list box
        .srv_sel_box {
            position: absolute;
            top: 35.5%;
            left: 30.9%;
            width: 46.5%;
            max-height: 115px;
            border: 1px white solid;
            border-top: none;
            color: white;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.8);
            z-index: 100;

            // each sever item
            .srv {
                display: block;
                height: 20px;
                padding: 7% 0;
                white-space: nowrap;
                font-size: 1.4rem;
                cursor: pointer;
                text-align: center;
                line-height: 20px;
                transition: all 0.3s;

                // selected server name color
                &.selected_srv {
                    color: orange;
                }

                // server name color when hovering
                &:hover {
                    color: orange;
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    /* Log In Alternative
====================================================*/
    .auth_alternative {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* Message Logs
====================================================*/
    .msg_logs_area {
        width: 410px;
        height: 86px;
        padding: 6px 8px;
        border: #a5927b79 0.5px solid;
        background: rgba(0, 0, 0, 0.5);

        // message contents
        .msg_contents {
            display: block;
            width: 410px;
            height: 86px;
            font-size: 12px;
            line-height: 14px;
            color: white;
            overflow: hidden;
            position: absolute;

            // text initial setting
            p {
                width: 400px;

                // green color
                &.green {
                    color: greenyellow;
                }

                // red color
                &.red {
                    color: red;
                }

                // yellow color
                &.yellow {
                    color: yellow;
                }

                // blue color
                &.blue {
                    color: skyblue;
                }
            }
        }
    }

    /* Preferences Button
====================================================*/
    .btn_preferences {
        width: 60%;
        height: 8.5%;
        position: relative;
        border: gray solid 2px;
        border-radius: 20px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.2s;
        z-index: 1;

        // gear icon
        &::before {
            content: '';
            position: absolute;
            width: 2.4em;
            height: 2.4em;
            top: 0;
            left: 7%;
            @include gear_icon;
            transition: all 0.2s;
            transform: rotateZ(540deg);
        }

        // arrow icon
        &::after {
            content: '';
            position: absolute;
            bottom: 32%;
            right: 13%;
            width: 6px;
            height: 6px;
            border-top: 3px solid #d1c0a5;
            border-right: 3px solid #d1c0a5;
            transition: all 0.2s;
            transform: rotate(45deg);
            z-index: -1;
        }

        // content text
        .btn_preferences_text {
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -9%;
            align-items: center;
            justify-content: center;
            width: 315px;
            color: #d1c0a5;
            font-size: 1.3em;
            white-space: nowrap;
            cursor: pointer;
            transform: scale(0.85, 1);
        }

        // when hovering
        &:hover {
            // gear icon
            &::before {
                @include gear_icon('484343', 'fae7c9');
                transform: scale(1.1, 1.1);
            }

            // arrow icon
            &::after {
                right: 9%;
            }

            // content text
            color: #fae7c9;
            background: rgba(72, 67, 67, 0.8);
        }
    }

    /* Authenticating Display
====================================================*/
    .progress {
        position: absolute;
        top: -3%;
        left: 0;
        width: 100%;
        height: 105%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }
}

/*=========================================================
　　　　　Banner
=======================================================*/
.launcher_bnr {
    width: 515px;
    height: 120px;
    position: absolute !important;
    right: 4%;
    top: 5%;

    // banner img
    .bnr img {
        border-radius: 20px;
        cursor: pointer;
    }
}

/*=========================================================
　　　　　Launcher Information
=======================================================*/
.launcher_info_list {
    width: 535px;
    height: 288px;
    position: absolute;
    right: 38px;
    top: 163px;
    overflow: hidden;

    .important_info,
    .normal_info {
        margin-bottom: 5px;
    }

    .head {
        width: 513px;
        height: 23px;
        position: relative;

        .lbl {
            position: absolute;
            left: 0;
            top: 0;
            width: 513px;
            height: 23px;
        }

        a {
            position: absolute;
            right: 10px;
            top: 6px;
            display: block;
            width: 35px;
            height: 13px;
            background: no-repeat 0px 0px;

            &:hover {
                background-position: 0px -13px;
            }
        }
    }

    .important_info {
        .body a,
        .date {
            color: #f4c833;
        }

        a {
            &:hover {
                color: #f8dd81;
            }
        }
    }

    ul.article {
        margin-left: 18px;
        width: 517px;
        position: relative;

        li {
            width: 517px;
            position: relative;
            overflow: hidden;
            padding: 5px 0;

            div {
                position: relative;
                float: left;
            }

            .date {
                width: 110px;
            }

            .body {
                width: 340px;

                a {
                    color: #d1c0a5;
                    text-decoration: none;

                    &:hover {
                        color: #efddc2;
                    }
                }
            }

            .icon {
                width: 30px;
                height: 14px;
                background: no-repeat center center;
            }
        }
    }
}

/*=========================================================
　　　　　Dialog
=======================================================*/
#launcher_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;

    .modal {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .dialog {
        position: absolute;
        left: 282px;
        top: 140px;
        width: 560px;
        height: 320px;
        background: url(/launcher/assets/img/dialog/bg.jpg) no-repeat 0px 0px;

        // dialog text contents
        .dialog_text_contents {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            padding-top: 16%;
            width: 100%;
            height: 47%;
            color: rgb(230, 230, 230);
            text-align: center;
            cursor: default;

            // dialog text default setting
            p {
                width: 500px;
                margin: 0 auto;
                font-size: 1.9rem;

                // margin for first paragraph
                &:first-child {
                    margin-top: 2%;
                }

                // margin for last paragraph
                &:last-child {
                    margin-bottom: 2%;
                }

                // caution text
                &.caution {
                    color: #f4de22;
                }

                // warning text
                &.warning {
                    color: #eb3535;
                }
            }

            // character's id
            .uid {
                font-size: 1.4rem;
            }
        }

        // dialog buttons
        .btnBox {
            width: 100%;
            position: absolute;
            bottom: 8%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            // each button default setting
            .md_btn {
                display: block;
                width: 24%;
                padding: 3% 5%;
                font-weight: 700;
                font-size: 1.7rem;
                color: #27acd9;
                @include dialog_btn_bg;
                border-radius: 25px;
                cursor: pointer;
                outline: none;
                border: none;

                // margin for left side button
                &:first-child {
                    margin-left: 7%;
                }

                //margin for right side button
                &:last-child {
                    margin-right: 7%;
                }

                // when hovering
                &:hover {
                    background-position: 0px -73.8px;
                    color: #2bcaff;
                }

                // when disabled
                &.wait {
                    cursor: default;
                }
            }
        }
    }
}

// 後で調整
.del_uid {
    width: 150px;
    height: 20px;
    color: black;
    background: rgb(240, 240, 240);
    padding-left: 1%;
    font-size: 1.4rem;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    margin: 2% 0 3% 0;

    // input placeholder
    &:-ms-input-placeholder {
        color: #7f8095;
    }

    // disable clear button on IE
    &::-ms-clear {
        display: none;
    }
}
