@use './global/' as *;

/*=========================================================
　　　　　Default Settings
=======================================================*/
* {
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    border: none;
    outline: none;
    text-decoration: none;
    color: #000000;

    &:active {
        color: #000000;
    }
}

li {
    list-style-type: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    border-style: none;
}

label,
input {
    color: white;
    outline: none;
    border: none;
    background: none;
}

input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -10;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 62.5%;
}

body {
    background: #000;
    font-family: $font_en;
    color: #d1c0a5;
    font-size: 14px;
    line-height: 1.3;

    &:lang(ja) {
        font-family: $font_ja;
    }
}

h1 {
    font-family: $font_title_en;

    &:lang(ja) {
        font-family: $font_title_ja;
    }
}

/* Launcher Movable Overlay
====================================================*/
.movable_overlay {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1000;

    .movable_overlay_text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font_title_en;
        color: white;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        transform: translate(-50%, -50%);
    }
}

/* Start the Game Overlay
====================================================*/
.start_and_connect_overlay {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1002;

    .start_and_connect_overlay_text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
        font-weight: 700;
        font-family: $font_title_en;
        color: #ecd142fc;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
        transform: translate(-50%, -50%);
    }
}

/* Launcher Wrapper
====================================================*/
.wrapper {
    width: 1124px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: url(#{$img}/common/launcher_body_bg.png) center center / 1124px 600px no-repeat;
}

/* Scrollbar
====================================================*/
// scroll area
.mCSB_scrollTools {
    margin: 6px 0;
}

// scroll contents area
.mCSB_container {
    margin-right: 15px !important;
}

// scroll rail area
.mCSB_draggerRail {
    width: 4px !important;
    background-color: #4a4a4adb !important;
}

// scroll bar area
.mCSB_dragger_bar {
    cursor: pointer;
}

/* Slick
====================================================*/
.slick-dots {
    width: 28% !important;
    height: 20%;
    top: 40%;
    right: -17%;
    bottom: 0 !important;
    transform: rotate(90deg);

    li {
        width: 18px !important;
        height: 18px !important;
        margin: 0 3px !important;

        // normal dots
        button::before {
            font-size: 1.2rem !important;
            color: gray !important;
            opacity: 0.5 !important;
        }

        // active dots
        &.slick-active button::before {
            opacity: 1 !important;
            color: black !important;
        }
    }
}

/*=========================================================
　　　　　Window Controls
=======================================================*/
.win_ctrls {
    width: 170px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    justify-content: space-between;

    // init win_ctrls
    button {
        width: 50px;
        height: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border: none;
        font-size: 1.5em;
        transition: all 0.2s;

        // movable icon
        &.move {
            @include move_icon;
            z-index: 1001;
            cursor: move;

            // when hovering
            &:hover {
                @include move_icon(white, black);
            }
        }

        // when hovering each button
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: black;
        }
    }
}

/*=========================================================
　　　　　Launcher Header
=======================================================*/
// header main
.launcher_header {
    width: 525px;
    height: 72px;
    position: absolute;
    left: 0;
    top: 38px;
    border-radius: 0 15px 15px 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    // mhfzz logo
    .mhf_zz_logo {
        position: absolute;
        width: 360px;
        top: -50%;
        left: -2%;
    }

    // launcher title
    .launcher_title {
        position: absolute;
        top: 2%;
        right: 0%;
        width: 190px;
        color: #dcdcdc;
        font-weight: 700;
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.3;
        white-space: nowrap;
    }
}

/*=========================================================
　　　　　Username / Server Name Label + Log Out Button
=======================================================*/
.logout_container {
    position: absolute;
    top: 19%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 525px;
    color: white;
    font-size: 0.8rem;
    z-index: 1000;

    // username & server_name
    .name_srv_label {
        font-size: 1.3rem;
        padding-right: 1%;
    }

    // logout button
    .btn_logout {
        color: white;
        background: rgba(255, 255, 255, 0.1);
        padding: 1px;
        font-weight: 700;
        transition: all 0.3s;
        cursor: pointer;

        // when hovering
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: black;
        }
    }
}

/*=========================================================
　　　　　Log In Area
=======================================================*/
.launcher_login_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 450px;
    height: 414px;
    left: 5%;
    top: 23%;

    // login button
    .btn_login {
        position: relative;
        width: 290px;
        height: 57px;
        @include main_btn_bg;
        cursor: pointer;
        border: none;
        outline: none;

        // login text
        &::before {
            content: 'LOG IN';
            color: rgb(230, 230, 230);
            font-size: 3rem;
            font-family: $font_title_en;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            line-height: 57px;
            text-align: center;
            transform: translate(-50%, -50%);
            transition: all 0.2s;
        }

        // when hovering
        &:hover {
            background-position: 0px -73.8px;

            &::before {
                color: white;
            }
        }
    }

    // authentication section
    .auth_section {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        // each group of username and password
        .auth_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            user-select: none;

            // label area
            label {
                padding-bottom: 2%;
            }

            // input area
            input {
                width: 150px;
                height: 40px;
                background: #00000099;
                padding-left: 5%;
                font-size: 1.4rem;
                cursor: text;

                // input placeholder
                &:-ms-input-placeholder {
                    color: #7f8095;
                }

                // disable clear button on IE
                &::-ms-clear {
                    display: none;
                }
            }

            // icon and input group (without label)
            .auth_username,
            .auth_password {
                width: 220px;
                display: flex;
                justify-content: center;

                span {
                    width: 40px;
                    height: 40px;
                    border-right: gray 1px solid;

                    // username
                    &.user_icon {
                        @include user_icon;
                    }

                    // password
                    &.password_icon {
                        @include password_icon;
                    }
                }
            }
        }
    }

    /* Server Group
====================================================*/
    .server_selector_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 0 3% 0;

        // label area
        label {
            padding-bottom: 2%;
        }

        // server selection
        .srv_sel_btn {
            position: relative;
            background: rgba(0, 0, 0, 0.8);
            font-size: 1.5rem;
            font-weight: 700;
            white-space: nowrap;
            padding: 0 11% 0 16%;
            width: 250px;
            height: 40px;
            color: #fff;
            cursor: pointer;
            border: 1px white solid;
            transition: border 0.3s ease-in-out;

            // server icon
            &::before {
                content: '';
                position: absolute;
                width: 38px;
                height: 38px;
                top: -4%;
                left: -1px;
                @include server_icon;
                transition: border 0.3s ease-in-out;
            }

            // arrow icon on closing server list box
            &::after {
                content: '';
                position: absolute;
                margin: auto 0;
                top: 0;
                bottom: 0;
                right: 4%;
                width: 15px;
                height: 15px;
                background: url('#{$img}/common/down_arrow.png') center / 14px no-repeat;
                transition: all 0.3s;
            }

            // arrow icon on opening server list box
            &.opened_svr_list {
                &::after {
                    transform: rotate(-180deg);
                }
            }

            // border color when hovering
            &:hover {
                border: 1px rgb(255, 123, 47) solid;

                &::before {
                    border: 1px rgb(255, 123, 47) solid;
                }
            }
        }

        // sever list box
        .srv_sel_box {
            position: absolute;
            top: 35.5%;
            left: 30.9%;
            width: 46.5%;
            max-height: 115px;
            border: 1px white solid;
            border-top: none;
            color: white;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.8);
            z-index: 100;

            // each sever item
            .srv {
                display: block;
                height: 20px;
                padding: 7% 0;
                white-space: nowrap;
                font-size: 1.4rem;
                cursor: pointer;
                text-align: center;
                line-height: 20px;
                transition: all 0.3s;

                // selected server name color
                &.selected_srv {
                    color: orange;
                }

                // server name color when hovering
                &:hover {
                    color: orange;
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    /* Log In Alternative
====================================================*/
    .auth_alternative {
        width: 70%;
        height: 4%;
        display: flex;
        justify-content: space-around;

        // remember me
        .checkbox {
            position: relative;
            padding-left: 6%;
            font-size: 1.3rem;
            line-height: 17px;
            user-select: none;
            cursor: pointer;

            // checkmark
            .indicator {
                position: absolute;
                left: 2.5%;
                top: 50%;
                width: 1.3rem;
                height: 1.3rem;
                background-color: #d4d7dc;
                border-radius: 3px;
                pointer-events: none;
                transform: translate(0, -50%);
            }

            // when checked
            input {
                &:checked {
                    ~ .indicator {
                        color: white;
                        @include check_mark;
                    }
                }
            }
        }

        // forgot credentials
        .forgot_creds {
            position: relative;
            font-size: 1.3rem;
            color: white;
            cursor: pointer;

            // right caret arrow
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -11.5%;
                width: 16px;
                height: 16px;
                @include caret_right_arrow_icon;
            }

            // when hovering
            &:hover {
                border-bottom: 1px white solid;
            }
        }
    }

    /* Message Logs
====================================================*/
    .msg_logs_area {
        width: 410px;
        height: 86px;
        padding: 6px 8px;
        border: #a5927b79 0.5px solid;
        background: rgba(0, 0, 0, 0.5);

        // message contents
        .msg_contents {
            display: block;
            width: 410px;
            height: 86px;
            font-size: 12px;
            line-height: 14px;
            color: white;
            overflow: hidden;
            position: absolute;

            // text initial setting
            p {
                width: 400px;

                // green color
                &.green {
                    color: greenyellow;
                }

                // red color
                &.red {
                    color: red;
                }

                // yellow color
                &.yellow {
                    color: yellow;
                }

                // blue color
                &.blue {
                    color: skyblue;
                }
            }
        }
    }

    /* Preferences Button
====================================================*/
    .btn_preferences {
        width: 60%;
        height: 8.5%;
        position: relative;
        border: gray solid 2px;
        border-radius: 20px;
        color: #d1c0a5;
        font-size: 1.6rem;
        line-height: 31px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.2s;
        z-index: 1;

        // gear icon
        &::before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: 0;
            left: 7%;
            @include gear_icon;
            transition: all 0.2s;
            transform: rotateZ(540deg);
        }

        // arrow icon
        &::after {
            content: '';
            position: absolute;
            bottom: 32%;
            right: 13%;
            width: 6px;
            height: 6px;
            border-top: 3px solid #d1c0a5;
            border-right: 3px solid #d1c0a5;
            transition: all 0.2s;
            transform: rotate(45deg);
            z-index: -1;
        }

        // content text
        .btn_preferences_text {
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -9%;
            align-items: center;
            justify-content: center;
            width: 315px;
            color: #d1c0a5;
            font-size: 1.3em;
            white-space: nowrap;
            cursor: pointer;
            transform: scale(0.85, 1);
        }

        // when hovering
        &:hover {
            // gear icon
            &::before {
                @include gear_icon('484343', 'fae7c9');
                transform: scale(1.1, 1.1);
            }

            // arrow icon
            &::after {
                right: 9%;
            }

            // content text
            color: #fae7c9;
            background: rgba(72, 67, 67, 0.8);
        }
    }
}

/*=========================================================
　　　　　Authenticating
=======================================================*/
.authenticating {
    position: absolute;
    width: 470px;
    height: 424px;
    left: 4%;
    top: 22%;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 0 3px #757575, 0 3px 3px #757575, -3px 0 3px #757575, 0 -3px 3px #757575;
    z-index: 200;

    // authenticating animation
    .authenticating_loader {
        position: absolute;
        top: 25%;
        left: 27%;
        width: 200px;
        height: 200px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(63, 249, 220, 1) 100%);
        @include authProgKey;
        animation: authProgAni 0.8s linear 0s infinite;

        .authenticating_loader_core {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
        }
    }

    // authenticating text
    .authenticating_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: white;
        font-size: 1.8rem;
        font-weight: 700;
        pointer-events: none;
    }
}

/*=========================================================
　　　　　Character Selection
=======================================================*/
.character_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 520px;
    height: 420px;
    margin-top: 1%;
    position: absolute;
    left: 15px;
    top: 134px;
    color: #313131;

    // character selection units wrapper
    .character_units {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 225px;
        justify-content: space-between;

        // scroll arrows
        .scroll {
            position: static !important;
            width: 131px;
            height: 65px;
            margin-top: auto !important;
            cursor: pointer;
            z-index: 1000;

            // up arrow
            &.scroll_up {
                background: url(#{$img}/character_selection/char_sel_scroll.png) !important;
            }

            // down arrow
            &.scroll_down {
                background: url(#{$img}/character_selection/char_sel_scroll.png) !important;
                transform: rotate(180deg);
            }

            // when hovering
            &:hover {
                background-position: 0px -39px !important;
            }

            // when disabled
            &.swiper-button-disabled {
                opacity: 0.35;
                pointer-events: none;
            }
        }

        // character group units
        .char_unit_wrapper {
            width: 520px;
            height: 225px;
            overflow: hidden;

            // character individual unit
            .unit {
                background: url(#{$img}/character_selection/background/new.png) no-repeat 0px 0px;

                // loop through weapon names and set corresponding image and class
                $weaponNames: $weaponNamesArray;
                @each $weapon in $weaponNames {
                    &.#{$weapon} {
                        @include char_sel_unit(#{$weapon});
                    }
                }

                // current character
                &.swiper-slide-active {
                    cursor: pointer;
                }

                // new character
                &.new {
                    .name {
                        font-weight: normal;
                        cursor: pointer;
                    }

                    .new {
                        display: block;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 66px;
                        color: #313131;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        line-height: 18px;
                        cursor: pointer;

                        &:first-line {
                            font-size: 26px;
                            line-height: 32px;
                            color: #3169f0;
                        }
                    }
                }

                // character index img
                .num {
                    width: 81px;
                    height: 77px;
                    position: absolute;
                    left: 11px;
                    top: 11px;
                    cursor: pointer;

                    // loop through numbers and set corresponding index number
                    $indexNumbers: n1, n2, n3;
                    @each $num in $indexNumbers {
                        &.#{$num} {
                            @include char_index_num(#{$num});
                        }
                    }
                }

                // weapon icon
                .icon {
                    width: 48px;
                    height: 47px;
                    position: absolute;
                    left: 31px;
                    top: 69px;
                    cursor: pointer;

                    // loop through weapon names and set corresponding weapon icon
                    @each $weapon in $weaponNames {
                        &.#{$weapon} {
                            @include char_wpn_icon(#{$weapon});
                        }
                    }
                }

                // character name
                .name {
                    font-size: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-weight: bold;
                    position: absolute;
                    top: 23px;
                    left: 0;
                    width: 100%;
                    cursor: pointer;
                }

                // character weapon
                .wp {
                    font-size: 18px;
                    line-height: 20px;
                    text-align: center;
                    font-weight: bold;
                    display: block;
                    position: absolute;
                    left: 90px;
                    top: 73px;
                    white-space: nowrap;
                    cursor: pointer;

                    // weapon text adjustment
                    &:first-line {
                        font-size: 14px;
                    }
                }

                // character data
                .data {
                    text-align: left;
                    font-size: 16px;
                    line-height: 18px;
                    display: block;
                    white-space: nowrap;
                    position: absolute;
                    left: 252px;
                    top: 65px;
                    cursor: pointer;
                }
            }
        }
    }

    // character misc list
    .character_misc {
        display: flex;
        justify-content: space-around;
        width: 500px;

        // character misc item
        li {
            position: relative;
            width: 210px;
            height: 30px;
            background: url(#{$img}/character_selection/character_misc_btn_bg.png) no-repeat;
            cursor: pointer;

            // text initial settings
            &::before {
                color: #e6e6e6;
                font-size: 1.5rem;
                font-family: 'Noto Serif', serif;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                line-height: 30px;
                text-align: center;
                transform: translate(-50%, -50%);
                transition: all 0.2s;
            }

            // when hovering
            &:hover {
                background-position: 0px -46px;

                &::before {
                    color: white;
                }
            }

            // when disabled
            &.disabled {
                pointer-events: none;
            }
        }

        // character add button
        .char_add {
            &::before {
                content: 'Add New Character';
            }
        }

        // chraceter delete button
        .char_del {
            &::before {
                content: 'Delete Character';
            }
        }
    }

    // game start button
    .btn_start {
        position: relative;
        width: 290px;
        height: 57px;
        @include main_btn_bg;
        cursor: pointer;
        border: none;
        outline: none;

        // game start text
        &::before {
            content: 'START GAME';
            color: rgb(230, 230, 230);
            font-size: 3rem;
            font-family: $font_title_en;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            line-height: 57px;
            text-align: center;
            transform: translate(-50%, -50%);
            transition: all 0.2s;
        }

        // when hovering
        &:hover {
            background-position: 0px -73.8px;

            &::before {
                color: white;
            }
        }
    }

    // rain-web offline display
    .rain_web_offline {
        visibility: hidden;
        color: red;
        font-size: 1.4rem;
        font-weight: 700;
        max-width: 400px;
        text-indent: -2.8em;
        padding-left: 8%;
    }
}

/*=========================================================
　　　　　Maintenance
=======================================================*/
.maintenance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 450px;
    height: 410px;
    left: 5%;
    top: 25%;

    // maintenance text
    .maint_text {
        width: 450px;
        height: 145px;
        color: #f7e14cff;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2rem;
        font-family: $font_title_en;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        p {
            max-width: 427px;
        }
    }

    // maintenance image
    .maint_img {
        width: 270px;
        height: 240px;
    }
}

/*=========================================================
　　　　　Update
=======================================================*/
.launcher_update_process {
    position: absolute;
    top: 30%;
    left: 6.5%;
    width: 420px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    // animation area
    .anim {
        width: 85px;
        height: 91px;
        background: url(#{$img}/update/animation_frame.png);

        @each $frameClass, $background-position in $updateAnimMap {
            &.#{$frameClass} {
                background-position: $background-position;
            }
        }
    }

    // progress bar & percent area
    .progress_area {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        // progress bar area
        .bar_area {
            position: relative;
            width: 320px;
            height: 33px;
            background: url(#{$img}/update/bar_area.png);

            // file update progress bar
            .file_progress {
                position: absolute;
                left: 9px;
                top: 5px;
                width: 0px;
                max-width: 302px;
                height: 2px;
                background: url(#{$img}/update/bar_body.png);
            }

            // total update progress bar
            .total_progress {
                position: absolute;
                left: 9px;
                top: 22px;
                width: 0px;
                max-width: 302px;
                height: 6px;
                background: url(#{$img}/update/bar_body.png);
            }
        }

        // percent area
        .pct_area {
            width: 100px;
            text-align: center;
            color: white;
            font-size: 1.4rem;
            font-family: $font_title_en;

            p {
                width: 90px;
                display: flex;
                justify-content: flex-end;

                span {
                    width: 23px;
                    padding: 0 4% 0 7%;
                }
            }
        }
    }

    // update message
    .update_msg {
        color: white;
        text-align: center;
        line-height: 2.2;

        .progress_state {
            font-size: 2.2rem;
            color: rgba(200, 200, 200, 0.8);
            text-shadow: 2px 0 2px #757575, 0 2px 2px #757575, -2px 0 2px #757575, 0 -2px 2px #757575;
        }

        .next_action {
            font-size: 1.4rem;
        }
    }
}

/*=========================================================
　　　　　Side Contents Section
=======================================================*/
.side_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6%;
    right: 2%;
    width: 540px;
    height: 520px;
    justify-content: space-between;

    /* Banner
====================================================*/
    .launcher_bnr {
        width: 515px;
        height: 120px;
        margin: 0 !important;

        // banner img
        .bnr {
            position: relative;
            z-index: 100;

            img {
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }

    /* Information
====================================================*/
    .info_list {
        width: 520px;
        height: 260px;
        overflow: hidden;
        padding: 2% 1%;
        background: rgba(0, 0, 0, 0.3);

        // info 404 not found
        .failed_get_info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            font-weight: 700;
            color: red;
            white-space: nowrap;
            display: none;
        }

        // getting info
        .info_getting {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            font-weight: 700;
            color: #ecd142fc;
            white-space: nowrap;
            display: none;
        }

        // getting info loader
        .info_getting_loader {
            position: relative;
            top: 45%;
            width: 32px;
            height: 32px;
            margin: 20px auto;
            border: 4px rgba(#fff, 0.4) solid;
            border-top: 4px whitesmoke solid;
            border-radius: 50%;
            @include getInfoDatakey;
            animation: getInfoDataAni 0.6s infinite linear;
            display: none;
        }

        // each info list
        .info_list_item {
            margin-bottom: 5px;

            // title
            .info_title {
                position: relative;
                width: 500px;
                height: 23px;
                padding-left: 4%;
                line-height: 23px;
                font-size: 1.9rem;
                color: #beb3a5f1;
                background: url(#{$img}/common/normal_info_icon.png) no-repeat;
                font-family: $font_info_title_en;
                z-index: 0;

                // info title icon
                &::after {
                    content: '';
                    position: absolute;
                    width: 95%;
                    height: 1px;
                    bottom: 15%;
                    left: 3%;
                    background-color: #7c7772cc;
                    box-shadow: 0 -10px 30px whitesmoke;
                    z-index: -1;
                }
            }

            // contents
            .info_list_contents {
                margin-left: 4%;

                // no info found
                .no_info_found {
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 2% 0 1% 0;
                    color: #ff9a31;
                }

                // each info list item
                .info_list_contents_item {
                    overflow: hidden;
                    padding: 1.4% 0;
                    display: flex;

                    // date
                    .date {
                        width: 110px;
                    }

                    // info headline text
                    .info_list_contents_text {
                        width: 340px;

                        a {
                            color: #d1c0a5;
                            cursor: pointer;

                            &:hover {
                                color: #efddc2;
                            }
                        }
                    }

                    // new info icon
                    /* .icon {
                        width: 30px;
                        height: 14px;
                        background: no-repeat center center;
                    } */
                }
            }

            // important info only
            &.important {
                .info_title {
                    color: #f7d53fff;
                    background: url(#{$img}/common/important_info_icon.png) no-repeat;

                    &::after {
                        background-color: rgba(149, 139, 50, 0.9);
                        box-shadow: 0 -10px 30px rgb(255, 255, 0);
                    }
                }

                .info_list_contents {
                    .info_list_contents_item {
                        .date {
                            color: #f4c833;
                        }

                        a {
                            color: #f4c833;

                            &:hover {
                                color: #f8dd81;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Menu
====================================================*/
    .launcher_menu {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .menu_contents_anchor {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65px;
            height: 100px;
            margin: 0px 3%;
            text-align: center;
            justify-content: flex-end;
            font-size: 1.4rem;
            font-weight: 700;
            color: #f5f5f5;
            cursor: pointer;

            // member site
            &.member {
                &::before {
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 0;
                    left: 4%;
                    border-radius: 50px;
                    margin-bottom: 10%;
                    @include member_icon;
                }
            }

            // manual
            &.manual {
                &::before {
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 0;
                    left: 4%;
                    border-radius: 50px;
                    margin-bottom: 10%;
                    @include manual_icon;
                }
            }

            // inquiry
            &.inquiry {
                &::before {
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 0;
                    left: 4%;
                    border-radius: 50px;
                    margin-bottom: 10%;
                    @include inquiry_icon;
                }
            }

            // my page
            &.mypage {
                &::before {
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 0;
                    left: 4%;
                    border-radius: 50px;
                    margin-bottom: 10%;
                    @include mypage_icon;
                }
            }

            // discord
            &.discord {
                &::before {
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 0;
                    left: 4%;
                    border-radius: 50px;
                    margin-bottom: 10%;
                    @include discord_icon;
                }
            }

            // each text
            .menu_contents_text {
                width: 60px;
                height: 35px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 700;
                color: whitesmoke;
                cursor: pointer;

                &:hover {
                    color: #c4c6ca;
                }
            }

            // when hovering
            &:hover {
                color: #c4c6ca;

                &.member {
                    &::before {
                        @include member_icon(rgba(110, 110, 110, 0.1), 'c4c6ca');
                    }
                }

                &.manual {
                    &::before {
                        @include manual_icon(rgba(110, 110, 110, 0.1), 'c4c6ca');
                    }
                }

                &.inquiry {
                    &::before {
                        @include inquiry_icon(rgba(110, 110, 110, 0.1), 'c4c6ca');
                    }
                }

                &.mypage {
                    &::before {
                        @include mypage_icon(rgba(110, 110, 110, 0.1), 'c4c6ca');
                    }
                }

                &.discord {
                    &::before {
                        @include discord_icon(rgba(110, 110, 110, 0.1), 'c4c6ca');
                    }
                }
            }
        }
    }
}

/*=========================================================
　　　　　Dialog
=======================================================*/
.launcher_dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;

    // dialog body
    .dialog_contents {
        position: absolute;
        left: 282px;
        top: 140px;
        width: 560px;
        height: 320px;
        background: url(#{$img}/common/dialog_bg.png) no-repeat 0px 0px;

        // dialog text contents
        .dialog_text_contents {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            padding-top: 16%;
            width: 100%;
            height: 47%;
            color: rgb(230, 230, 230);
            text-align: center;

            // dialog text default setting
            p {
                width: 490px;
                margin: 0 auto;
                font-size: 1.9rem;

                // margin for first paragraph
                &:first-child {
                    margin-top: 2%;
                }

                // margin for last paragraph
                &:last-child {
                    margin-bottom: 2%;
                }

                // caution text
                &.caution {
                    color: #f4de22;
                }

                // warning text
                &.warning {
                    color: #eb3535;
                }
            }

            // character's uid
            .uid {
                font-size: 1.4rem;
            }

            // input for checking uid of deleting character
            .del_uid {
                width: 150px;
                height: 20px;
                color: black;
                background: rgb(240, 240, 240);
                padding-left: 1%;
                font-size: 1.4rem;
                border: 2px rgba(0, 0, 0, 0.5) solid;
                margin: 2% 0 3% 0;

                // input placeholder
                &:-ms-input-placeholder {
                    color: #7f8095;
                }

                // disable clear button on IE
                &::-ms-clear {
                    display: none;
                }
            }
        }

        // dialog buttons
        .dialog_btnBox {
            width: 100%;
            position: absolute;
            bottom: 8%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            // each button default setting
            .md_btn {
                display: block;
                width: 24%;
                padding: 2.5% 0;
                font-weight: 700;
                font-size: 1.7rem;
                color: #27acd9;
                @include dialog_btn_bg;
                border-radius: 25px;
                cursor: pointer;
                outline: none;
                border: none;

                // margin for left side button
                &:first-child {
                    margin-left: 7%;
                }

                //margin for right side button
                &:last-child {
                    margin-right: 7%;
                }

                // when hovering
                &:hover {
                    background-position: 0px -73.8px;
                    color: #2bcaff;
                }
            }
        }
    }
}

/*=========================================================
　　　　　Footer
=======================================================*/
.launcher_footer {
    width: 100%;
    height: 39px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);

    // disclaimer
    .disclaimer {
        color: #a0a0a0;
        font-size: 12px;
        position: absolute;
        left: 2%;
        top: 30%;
    }
}
