@use './variables' as *;

/* Images
====================================================*/
// Main Button Background
@mixin main_btn_bg {
    background: url(#{$img}/common/main_btn_bg.png) no-repeat;
    text-shadow: 3px 0 3px #003900, 0 3px 3px #003900, -3px 0 3px #003900, 0 -3px 3px #003900;
}

// Checkbox Check Mark
@mixin check_mark {
    background: #0d97fa
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='white' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E")
        center / 16px no-repeat;
}

// Right Caret Arrow Icon
@mixin caret_right_arrow_icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-caret-right' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='white' fill='white' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M10 18l6 -6l-6 -6v12'%3E%3C/path%3E%3C/svg%3E")
        center / 18px no-repeat;
}

// Gear Icon on Preferences
@mixin gear_icon($stroke_color: '000000', $fill_color: 'd1c0a5') {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-settings' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23#{$stroke_color}' fill='%23#{$fill_color}' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z'%3E%3C/path%3E%3Cpath d='M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0'%3E%3C/path%3E%3C/svg%3E")
        center / contain no-repeat;
}

// Character Selector Background
@mixin char_sel_unit($weapon_name) {
    background: url(#{$img}/character_selection/background/#{$weapon_name}.png);
}

// Character Index Number
@mixin char_index_num($num) {
    background: url(#{$img}/character_selection/char_index_num/#{$num}.png);
}

// Character Weapon Icon
@mixin char_wpn_icon($weapon_name) {
    background: url(#{$img}/character_selection/char_wpn_icon/#{$weapon_name}.png);
}

// Dialog Button Background
@mixin dialog_btn_bg {
    background: url(#{$img}/common/dialog_button_bg.png) no-repeat;
    text-shadow: 3px 0 3px #003900, 0 3px 3px #003900, -3px 0 3px #003900, 0 -3px 3px #003900;
}

/* Animation
====================================================*/
// Authenticating Progress
@mixin authProgKey {
    @keyframes authProgAni {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(359deg);
        }
    }
}
// Gettiing Info Data
@mixin getInfoDatakey {
    @keyframes getInfoDataAni {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(359deg);
        }
    }
}
