/* Font Family
====================================================*/
// Common
$font_ja: 'Noto Sans JP', sans-serif;
$font_en: 'Roboto', 'Open Sans', sans-serif;

// Title
$font_title_ja: 'Noto Serif JP', serif;
$font_title_en: 'Noto Serif', serif;

/* File Path
====================================================*/
// Images
$img: '/launcher/assets/img';
