// Common
$font_ja: 'Noto Sans JP', sans-serif;
$font_en: 'Roboto', 'Open Sans', sans-serif;

// Title
$font_title_ja: 'Noto Serif JP', serif;
$font_title_en: 'Noto Serif', serif;

// Information Title
$font_info_title_ja: 'Yuji Syuku', serif;
$font_info_title_en: 'Pacifico', cursive;

// Images Path
$img: '/launcher/assets/img';

// Weapon Name
$weaponNamesArray: swordAndShield, dualSwords, greatSword, longSword, huntingHorn, hammer, lance, gunlance, tonfa,
    switchAxeF, magnetSpike, lightBowgun, heavyBowgun, bow;

// Update Animation
$updateAnimMap: (
    f1: 0px -91px,
    f2: 0px -182px,
    f3: 0px -273px,
    f4: 0px -364px,
    f5: 0px -455px,
    f6: 0px -546px,
    f7: 0px -637px,
);
